.main {
	
	align:center;
	width: 300px;
	height: 150px;
	border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #dddddd;
    border-radius: 25px;
}
.user {
	color:66CCFF;
}
.password {
	color:#66CCFF;
}
.login{
align:center;
}
.header{
font-size : 60px;
color :blue;
}
.image2{
height :60 ;
width:60;
}
.scroll{
background-color: #669999 ;
color:blue;
}
p{
color:green;
text-align:center;
}